<!-- in app/views/layouts/application.html.erb (or header partial) -->
<!DOCTYPE html>
<html>
<head>
  <title>EventBookingSystem</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>


  <%= yield %>

</body>
</html>
